* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
  }
  
  main{
    background: #F5F5F5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button_profile_icon{
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #1A1755;
    background-color: #1A1755;
    float: right;
  }

  .user-container{
    position: relative;
    width: 555px;
    height: 310px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-top: 25px;
    padding-top: 22px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  .user-name{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #1A1755;
    text-align: center;
  }

  .user-description{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #A3A3A3;
    text-align: center;
    padding: 20px;
  }

  .button_connect{
    display: block;
    height: 50px;
    width: 100%;
    background: #2CD87F;
    border-radius: 15px;
    border: solid #2CD87F;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: none;
    text-align: center;
    
  }

  .button_connect:hover{
    background: #00FF7B;
    border-radius: 15px;
    border: solid #00FF7B;
    transition: 1s;
  }

  .button_myprofile{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #1A1755;
    background-color: #1A1755;

  }

  .button_myprofile:hover{
    background: #3D36C7;
    border-radius: 50px;
    transition: 1s;
  }

  .button_menu{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #2CD87F;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
  }
  .button_menu:hover{
    background: #00FF7B;
    border-radius: 50px;
    transition: 1s;
  }

  .button_connect:hover{
    background: #00FF7B;
    border-radius: 50px;
    transition: 1s;
  }

  .menu{
      position: fixed;
      top: 720px;
      left: 580px;
  }
  
  .right_menu{
    position: fixed;
    top: 25px;
    right: 580px;
  }

  .button_case{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #1A1755;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
  }

  .button_allcase{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #2CD87F;
    border-radius: 50%;
    position: relative;
    overflow:hidden;
  }

  .button_case:hover{
    background: #3D36C7;
    border-radius: 50px;
    transition: 1s;
  }

  .button_allcase:hover{
    background: #00FF7B;
    border-radius: 50px;
    transition: 1s;
  }

  .case_menu{
    position: fixed;
    top: 15px;
    left: 580px;
  }